/*-- scss:defaults --*/

$navbar-bg:    black !default;
$navbar-fg: white !default;

.navbar-container {
    height: 75px
}

.bslib-card .card-body p {
    font-size: 0.9rem;
    align-content: center;
}

.bslib-card .bslib-value-box .value-box-title {
    font-size: 1.8rem;
}


.bslib-value-box .value-box-area {
    padding-top: 0rem;
    padding-bottom: 0rem;
}